.container {
    /* display: flex;
    align-items: center;
    gap: 100px;
    padding: 60px 50px;
    min-height: 100%;
    position: relative; */
    padding: 60px 220px;
}

.header {
    display: flex;
    align-items: center;
    gap: 100px;
    /* padding: 60px 50px; */
    min-height: 100%;
    position: relative;
}

.item {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.title {
    font-size: 50px;
    color: #1b51cf;
}

.img {
    width: 100%;
    height: 500px;
    object-fit: contain;
    /* animation: move 3s infinite ease alternate; */
}

.desc {
    font-size: 24px;
    font-weight: 300;
    color: #000;
}

.button {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 20px;
}

.button1 {
    background: #1b51cf;
    color: white;
    border: none;
    border-radius: 5px;
    width: 150px;
    height: 50px;
    cursor: pointer;
}

.button2 {
    background: white;
    color: #000;
    border: 2px solid #d2e7ff;
    border-radius: 5px;
    width: 150px;
    height: 50px;
    cursor: pointer;
}

.campaign {
    padding-top: 50px;
}

.campaign-list {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: auto auto;
    grid-gap: 25px;
}

.campaign-item {
    background-color: rgb(211, 205, 205);
    position: relative;
    border-radius: 10px;
}

.campaign-item-image {
    border-radius: 10px 10px 0 0;
    width: 100%;
    object-fit: cover;
    height: 210px;
}

.avatar {
    width: 50px;
    height: auto;
    border-radius: 50%;
}

.campaign-detail {
    padding: 0 20px;
}

.row {
    display: flex;
}
